 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/WhatsAppImage2022-03-20at5.54.56AM.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 924px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 4.27% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 9.22% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }
} .u-section-2 {
  background-image: linear-gradient(#77aad9, #2cccc4);
}

.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  width: 539px;
  margin: 45px auto 0;
}

.u-section-2 .u-table-1 {
  width: 438px;
  margin: 17px auto 60px 0;
}

.u-block-1e93-51 {
  height: 46px;
}

.u-section-2 .u-table-cell-1 {
  font-family: "Abril Fatface";
  font-size: 1.875rem;
}

.u-section-2 .u-table-cell-2 {
  font-size: 1.875rem;
  font-family: "Abril Fatface";
}

.u-section-2 .u-table-cell-3 {
  font-size: 1.875rem;
  font-family: "Abril Fatface";
}

.u-section-2 .u-table-cell-4 {
  font-family: "Abril Fatface";
  font-size: 1.875rem;
}

.u-section-2 .u-table-cell-5 {
  font-family: "Abril Fatface";
  font-size: 1.875rem;
}

.u-section-2 .u-table-cell-6 {
  font-family: "Abril Fatface";
  font-size: 1.875rem;
}

.u-block-1e93-66 {
  height: 46px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 358px;
    margin-left: -18px;
  }
} .u-section-3 {
  background-image: linear-gradient(#77aad9, #2cccc4);
}

.u-section-3 .u-sheet-1 {
  min-height: 551px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 32px 289px 0 312px;
}

.u-section-3 .u-text-2 {
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 189px;
    margin-left: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 79px;
    margin-left: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
}