 .u-section-1 {
  background-image: linear-gradient(#77aad9, #2cccc4);
}

.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  width: 853px;
  margin: 57px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Aclonica;
  font-size: 2.25rem;
  margin: 25px 959px 0 0;
}

.u-section-1 .u-list-1 {
  width: 154px;
  margin: 9px auto 0 274px;
}

.u-section-1 .u-repeater-1 {
  min-height: 226px;
  grid-template-columns: 100%;
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-family: Oswald, sans-serif;
  margin: -213px 914px 0 18px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 46px 914px 60px 18px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 46px 863px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
    margin-right: 759px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 732px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 732px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 681px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 539px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 512px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 512px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 461px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -215px;
    margin-right: 270px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 39px;
    margin-right: 270px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin: 56px 270px 60px 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 159px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 4px;
    margin-right: -35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -210px;
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 74px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#2cccc4, #77aad9);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-family: Aclonica;
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-family: Oswald, sans-serif;
  margin: 33px 17px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 335px;
  padding: 9px 49px 11px 48px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-family: Oswald, sans-serif;
  margin: 13px 17px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -46px;
    margin-left: 327px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 23px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 157px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 37px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 181px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 51px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-bottom: 35px;
  }
} .u-section-3 {
  background-image: linear-gradient(#2cccc4, #77aad9);
}

.u-section-3 .u-sheet-1 {
  min-height: 608px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: "Abril Fatface";
  width: 853px;
  margin: 44px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 0 23px;
  padding: 9px 49px 11px 48px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-family: Oswald, sans-serif;
  margin: 16px 92px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 18px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 14px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 11px;
  }
}